@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}
body,html{
  overflow-x: hidden;
}
.primary{
  background-color: rgb(51, 182, 37);
  padding : 5px 20px ;
  color: white;
  border: none;
  border-radius: 3px;
}
.secondary{
  background-color: white ;
  padding : 5px 20px ;
  color: black !important;
  border: none;
  border-radius: 1px;
}